#wrap:ADMIN.html#
#HEAD#
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/s/bootstrap.min.js"></script>
#HEAD#
#BODY#
<h1><a href="/">#</a> <a href="/admin/">Admin</a> / Logs</h1>

{{if .Filters}}
<p>Filters:
<ul>
{{range .Filters}}
<li>{{.}}
{{end}}
</ul>
{{end}}

<table>
{{.TableHeader}}
{{range .Rows}}
{{.}}
{{end}}
</table>


<script>
$('span.date').replaceWith(function() {
  var d = new Date($(this).text());
  var hours = "" + d.getHours();
  if (hours.length < 2) { hours = "0" + hours; }
  var minutes = "" + d.getMinutes();
  if (minutes.length < 2) { minutes = "0" + minutes; }
  return ("" + (d.getMonth()+1) + "/" + d.getDate() + " " + 
          hours + ":" + minutes)
});
</script>

#BODY#
