#wrap:BASE.html#
#BODY#
  <style>th { padding-right: 0.5em; } </style>
  <center style="clear: both;">
  <h1><a href="/">#</a> {{.Arc.Title}}</h1>
  <table><tbody>
  <tr><th>Activity <th>Status
  {{range .States}}
    <tr>
    {{if .ActID}}
      <td><a href="/a/{{.ActID}}/">{{.ActID}}</a>&nbsp;&nbsp;
      <td>{{if .SolvedP}}Solved{{else}}<a href="/a/{{.ActID}}/"><b>Unsolved</b></a>{{end}}
    {{else}}
    <tr><td>??? <td>???
    {{end}}
  {{end}}
  </tbody></table>
  {{if .Arc.Icon}}<img src="{{.Arc.Icon}}">{{end}}
  </center>
#BODY#
